/* Animated Solar System */
html, body {
    /* The Universe takes up all available space - Black */
    /* That's why I suggested choice the images with black background */
    width: 100%;
    height: 100%;
    /* The universe is black */
    /* That's why I suggested choice the images with black background */
    background-color: black;
  
    /* Properties for the Sun */
    #sun {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 200px;
      width: 200px;
      margin-top: -100px;
      margin-left: -100px;
    }
    /* End of Sun's Properties */
  
    /* Properties for the Mercury */
    #mercury {
      position: absolute;
      top: 0%;
      left: 45%;
      height: 20px;
      width: 20px;
      margin-left: -10px;
      margin-top: -10px;
    }
  
    /* Properties for - Position / Orbit / Radius / Rotation */
    #mercury-orbit {
      position: absolute;
      top: 60%;
      left: 57%;
      width: 300px;
      height: 300px;
      margin-top: -250px;
      margin-left: -250px;
      border-width: 2px;
      border-style: dotted;
      border-color: white;
      border-radius: 50%;
      /* Animating Mercury - Rotation and Speed */
      -webkit-animation: spin-right 5s linear infinite;
      -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
      -o-animation: spin-right 5s linear infinite;
      animation: spin-right 5s linear infinite;
    }
    /* End of Mercury's Properties */
  
    /* Properties for the Venus */
    #venus {
      position: absolute;
      top: 0%;
      left: 45%;
      height: 30px;
      width: 30px;
      margin-left: -15px;
      margin-top: -15px;
    }
  
    /* Properties for - Position / Orbit / Radius / Rotation */
    #venus-orbit {
      position: absolute;
      top: 55%;
      left: 53%;
      width: 400px;
      height: 400px;
      margin-top: -250px;
      margin-left: -250px;
      border-width: 2px;
      border-style: dotted;
      border-color: white;
      border-radius: 50%;
      /* Animating Venus - Rotation and Speed */
      -webkit-animation: spin-right 5s linear infinite;
      -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
      -o-animation: spin-right 5s linear infinite;
      animation: spin-right 5s linear infinite;
    }
    /* End of Venus's Properties */
  
    /* Properties for the Earth */
    #earth {
      position: absolute;
      top: 0;
      left: 50%;
      height: 30px;
      width: 30px;
      margin-left: -20px;
      margin-top: -20px;
    }
  
    /* Properties for - Position / Orbit / Radius / Rotation */
    #earth-orbit {
      position: absolute;
      top: 45%;
      left: 50%;
      width: 500px;
      height: 500px;
      margin-top: -250px;
      margin-left: -250px;
      border-width: 2px;
      border-style: dotted;
      border-color: white;
      border-radius: 50%;
      /* Animating Earth - Rotation and Speed */
      -webkit-animation: spin-right 10s linear infinite;
      -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
      -o-animation: spin-right 10s linear infinite;
      animation: spin-right 10s linear infinite;
    }
    /* End of Earth's Properties */
  
    /* Properties for the Mars */
    #mars {
      position: absolute;
      top: 0%;
      left: 45%;
      height: 20px;
      width: 20px;
      margin-left: -10px;
      margin-top: -10px;
    }
    /* Properties for - Position / Orbit / Radius / Rotation */
    #mars-orbit {
      position: absolute;
      top: 40%;
      left: 46%;
      width: 600px;
      height: 600px;
      margin-top: -250px;
      margin-left: -250px;
      border-width: 2px;
      border-style: dotted;
      border-color: white;
      border-radius: 50%;
      /* Animating Mars - Rotation and Speed */
      -webkit-animation: spin-right 15s linear infinite;
      -moz-animation: spin-right 15s linear infinite;
      -ms-animation: spin-right 15s linear infinite;
      -o-animation: spin-right 15s linear infinite;
      animation: spin-right 15s linear infinite;
    }
    /* End of Mars' Properties */
  
    /* Properties for the Jupiter */
    #jupiter {
      position: absolute;
      top: 0%;
      left: 45%;
      height: 70px;
      width: 70px;
      margin-left: -28px;
      margin-top: -28px;
    }
  
    /* Properties for - Position / Orbit / Radius / Rotation */
    #jupiter-orbit {
      position: absolute;
      top: 35%;
      left: 43%;
      width: 700px;
      height: 700px;
      margin-top: -250px;
      margin-left: -250px;
      border-width: 2px;
      border-style: dotted;
      border-color: white;
      border-radius: 50%;
      /* Animating Jupiter - Rotation and Speed */
      -webkit-animation: spin-right 20s linear infinite;
      -moz-animation: spin-right 20s linear infinite;
      -ms-animation: spin-right 20s linear infinite;
      -o-animation: spin-right 20s linear infinite;
      animation: spin-right 20s linear infinite;
    }
    /* End of Jupiter's Properties */
  
    /* Properties for the Saturn */
    #saturn {
      position: absolute;
      top: 0%;
      left: 45%;
      height: 70px;
      width: 70px;
      margin-left: -28px;
      margin-top: -28px;
    }
  
    /* Properties for - Position / Orbit / Radius / Rotation */
    #saturn-orbit {
      position: absolute;
      top: 30%;
      left: 38%;
      width: 800px;
      height: 800px;
      margin-top: -250px;
      margin-left: -250px;
      border-width: 2px;
      border-style: dotted;
      border-color: white;
      border-radius: 50%;
      /* Animating Saturn - Rotation and Speed */
      -webkit-animation: spin-right 25s linear infinite;
      -moz-animation: spin-right 25s linear infinite;
      -ms-animation: spin-right 25s linear infinite;
      -o-animation: spin-right 25s linear infinite;
      animation: spin-right 25s linear infinite;
    }
  
    /* End of Saturn's Properties */
    /* Properties for the Uranus */
    #uranus {
      position: absolute;
      top: 0%;
      left: 45%;
      height: 50px;
      width: 50px;
      margin-left: -25px;
      margin-top: -25px;
    }
  
    /* Properties for - Position / Orbit / Radius / Rotation */
    #uranus-orbit {
      position: absolute;
      top: 18%;
      left: 32%;
      width: 1000px;
      height: 1000px;
      margin-top: -250px;
      margin-left: -250px;
      border-width: 2px;
      border-style: dotted;
      border-color: white;
      border-radius: 50%;
      /* Animating Uranus - Rotation and Speed */
      -webkit-animation: spin-right 30s linear infinite;
      -moz-animation: spin-right 30s linear infinite;
      -ms-animation: spin-right 30s linear infinite;
      -o-animation: spin-right 30s linear infinite;
      animation: spin-right 30s linear infinite;
    }
  
    /* End of Uranus' Properties */
    /* Properties for the Neptune */
    #neptune{
      position: absolute;
      top: 0%;
      left: 45%;
      height: 50px;
      width: 50px;
      margin-left: -25px;
      margin-top: -25px;
    }
  
    /* Properties for - Position / Orbit / Radius / Rotation */
    #neptune-orbit {
      position: absolute;
      top: 8%;
      left: 26%;
      width: 1200px;
      height: 1200px;
      margin-top: -250px;
      margin-left: -250px;
      border-width: 2px;
      border-style: dotted;
      border-color: white;
      border-radius: 50%;
      /* Animating Neptune - Rotation and Speed */
      -webkit-animation: spin-right 35s linear infinite;
      -moz-animation: spin-right 35s linear infinite;
      -ms-animation: spin-right 35s linear infinite;
      -o-animation: spin-right 35s linear infinite;
      animation: spin-right 35s linear infinite;
    }
  
    /* End of Neptune's Properties */
    /* Keyframes for Roatation - Right */
    @-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes spin-right {
      100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
  }
}